.contact-container{
    position: relative;
    top: 450px;
}
.contact-container .hero{
    position: relative;
    transform: translate(0%, 300%);

}
.contact-container .hero .info{
    transform: translate(-50%, -95%);
} 
.contact-container .hero .info .home-link{
    background-color: transparent;
}
.contact-container .hero .info .home-link span{
color: #f35525;
}
.contact-container .hero .info h3{
    width: 70%;
}

.contact-container .map-and-form-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(10%, 240%);
    margin-bottom: 50px;
}
.map-container{
    width:50% ;
}
.map-container iframe{
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}
.map-container .mini-cards{
    display: flex;
    width: 90%;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
}
.map-container .mini-cards .MC-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
}
.map-container .mini-cards .MC-container .MC-img{
    padding-top: 40px;
}
.form-container{
    width: 40%;
}
.form-container form{
    width: 100%;
    background-color:white;
    border:  #aeadad94 solid 1px;
    box-shadow: 0px 0px 8px  #aeadad94;
    border-radius: 20px;
    font-family: poppins, sans-serif;
    padding: 15px 20px;
}
.form-container .form-info{
    margin: 20px 0px;
    padding: 10px;
}
 .form-container .form-info label{
    display: block;
    margin-bottom: 10px;
 }
 .form-container .form-info input,textarea{
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    width: max-content;
    width: 95%;
    background-color: #aeadad34;
 }
 .form-container form button{
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    color: white;
    border: none;
 }
 .form-container form button:hover{
    background-color: #f35525;
 }
