
.contact-container .map-and-form-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.map-container{
    /* width:40% ; */
}
.map-container .mini-cards{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.form-container{
    width: 40%;
}
.form-container form{
    width: 100%;
    border:  #aeadad94 solid 1px;
    box-shadow: 0px 0px 8px  #aeadad94;
    border-radius: 20px;
    font-family: poppins, sans-serif;
    padding: 15px 20px;
}
.form-container .form-info{
    margin: 20px 0px;
    padding: 10px;
}
 .form-container .form-info label{
    display: block;
    margin-bottom: 10px;
 }
 .form-container .form-info input,textarea{
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    width: max-content;
    width: 95%;
    background-color: #aeadad34;
 }
 .form-container form button{
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    color: white;
    border: none;
 }
 .form-container form button:hover{
    background-color: #f35525;
 }