.card-cotainer{
    width: 30%;
    font-family: 'poppins', sans-serif;
}
.card-cotainer img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    
}
.card-cotainer .property{
    display: flex;
    justify-content: space-between;
    /* padding: 20px 10px; */
    margin-bottom: 15px;
}
.property .name{
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 15px;

}
.property .salary{
    font-size: 20px;
    font-weight: bold;
    color: #f35525;
    margin-top: 6px;
    display: inline-block;
    /* float: right; */
    margin-top: 20px;
}
.card-cotainer .desc{
    color: #1e1e1e;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 5px;
}
.card-cotainer .details{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom:1px solid #aeadad56 ;
}
.card-cotainer .details .detail{
    display: flex;
}
.card-cotainer .details .detail .number{
    font-weight: 600;
    color: #1e1e1e;
    padding-left: 5px;

}
.card-cotainer .card-btn{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 10px 0px;
    background-color: #1e1e1e;
    border-radius: 30px;
}
.card-cotainer .card-btn a{
    text-decoration: none;
    color: white;


}