.footer-container {
    display: flex;
    padding: 60px 200px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    position: relative;
    top: 2800px;
    left: 0px;
}

.footer-container a {
    text-decoration: none;
    color: white;
}