.video-img{
    position: absolute;
    top: 70px;
    left: 70px;
    transform: translate(13%, 70%);
}
.icon-container{
    width: 60px;
    height: 60px;
    background-color: #f35525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    left: 700px;
    transform: translate(80%, 80%);
}
.icon-container .icon{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mini-cards-container{
    position: absolute;
    top: 900px;
    left: 50px;
    transform: translate(10%, 80%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    
}
.mini-cards-container .card{
    width: 23%;
    position: relative;
}
.mini-cards-container .card .mini-card{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    background-color: #ffeee9;
    border-radius: 10px;
    padding: 20px 25px;
}
.card .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   background-color: #f35525;
    position: absolute;
    top:-25px;
    right: -15px;
}
.card .mini-card p{
    width: 50%;
    font-family: poppins, sans-serif;
}
.card .mini-card h2{
    margin-right: 25px;
    font-size: 40px;
    color: #f35525;

}